<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Login Now!</title>
  {% comment %} <script src="/assets/particles.min.js"></script> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="/assets/index.4e6eb376.css"> {% endcomment %}
  {% comment %} <script src="/assets/vanilla-tilt.js"></script> {% endcomment %}


  <script src="{% static 'js/particles.min.js' %}"></script>
  <script src="{% static 'js/vanilla-tilt.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/index.4e6eb376.css' %}">
</head>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<body class="select-none animate-text-focus-in">
    
    <div class="us bg-cover h-screen w-screen relative justify-center items-center flex  " style="background-image: {% static 'images/g16.6e491fd2.svg' %}">
      
 <!-- <div class=" bg-gray-100 backdrop-filter bg-opacity-10 backdrop-blur-sm h-screen w-screen absolute ">  </div> -->
 <canvas class="background absolute "> </canvas>
            
            <div class="us justify-center items-center flex pt-[rem]">
                <div
                class="card relative shadow-sm shadow-fuchsia-400 bg-fuchsia-300 backdrop-filter bg-opacity-20 rounded-xl sm:h-96 h-[23rem] w-[23rem] sm:w-96 border border-gray-200 backdrop-blur-sm border-opacity-30 border-r-0 border-b-0">
                <p
                class="text-2xl font-semibold  leading-10 font-poppins tracking-widest text-center bg-gradient-to-r bg-clip-text text-transparent to-yellow-500 from-red-500 mt-[2rem]">
               Login To Our Site
            </p>
            <div class="flex justify-center items-center pt-[rem] flex-col">
                <!-- <input type="text" maxlength="20" placeholder=" Name "
                class=" font-mono bg-transparent border-t-0 border-r-0 border-l-0 border-2 border-red-400 focus:outline-none placeholder-gray-300 w-[] caret-red-400 " /> -->


      <form method="POST" action="/login">  
         {% csrf_token %}

            <input type="text" maxlength="30"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            placeholder=" Username "
            name = "username"
            class="mt-[2rem] appearance-none text-black font-mono bg-transparent border-t-0 border-r-0 border-l-0 border-2 border-fuchsia-400 focus:outline-none placeholder-gray-400 w-[]" />

            <input type="password" placeholder=" Password "
            name = "password"
            class="mt-[2rem] text-black font-mono bg-transparent border-t-0 border-r-0 border-l-0 border-2 border-teal-400 focus:outline-none placeholder-gray-400 w-[]" />
            <br>
            <button onclick="us()"
            class="mt-[1rem] bg-fuchsia-500 px-12 tracking-widest py-1 rounded-full text-white font-semibold hover:bg-fuchsia-400 text-center">
            Log in
          </button>

    </form>


       <a class="mt-8 py-1" href="{% url 'sitee:registerUser' %}"> <span class="text-red-300  font-semibold italic">
New User?

        </span> </a>
    </div>

</div>
</div>

</div>

        <script>
            VanillaTilt.init(document.querySelectorAll(".card"), {
                max: 25,
                speed: 100,
            transition: true,
        });
        
        function us() {
            window.open("index.html", "_self");
        }
        window.onload = function() {
        Particles.init({
          selector: '.background',
          color: '#75A5B7',
          maxParticles: 130,
          connectParticles: true,
          sizeVariations: 10,
          speed: 1,
          responsive: [
            {
              breakpoint: 768,
              options: {
                maxParticles: 80
              }
            }, {
              breakpoint: 375,
              options: {
                maxParticles: 50
              }
            }
          ]
        });
      };
     
    </script>

</body>

</html>